.steps {
  padding: 40px 0 0 30px;
  width: 274px;
  height: 568px;
  background: no-repeat 0% 0% / cover url('../../images/bg-sidebar-desktop.svg');
  display: flex;
  flex-direction: column;
  gap: 30px;
}