.steps {
  padding: 40px 0 0 30px;
  width: 274px;
  height: 568px;
  background: no-repeat 0% 0% / cover url('../../images/bg-sidebar-desktop.svg');
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 800px) {
    width: 100%;
    height: auto;
    padding: 35px 0 60px 0;
    background: no-repeat 0% 0% / cover url('../../images/bg-sidebar-mobile.svg');
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }
}