@use "./variables.scss";

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef5ff;

  .app--container {
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;

    .app--form-step-container {
      padding: 45px 100px 0 100px;

      .app--form-step-title {
        font-size: 2rem;
      }

      .app--form-step-text {
        margin: 11px 0 40px 0;
        color: variables.$text-color-light-1;
      }
    }
  }

  @media (max-width: 1000px) {
    .app--container {
      .app--form-step-container {
        padding: 45px 50px 0 50px;
      }
    }
  }

  @media (max-width: 900px) {
    .app--container {
      .app--form-step-container {
        padding: 45px 20px 0 20px;
      }
    }
  }
}
