@use "./variables.scss";

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef5ff;

  .app--container {
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;

    .app--form-step-container {
      padding: 0 100px 0 100px;
      display: flex;
      flex-direction: column;

      .app--form-step-title {
        margin-top: 45px;
        font-size: 2rem;
      }

      .app--form-step-text {
        margin: 11px 0 40px 0;
        color: variables.$text-color-light-1;
      }

      .app--form-step-wrapper {
        flex: 1;
        padding-bottom: 15px;
      }
    }
  }

  @media (max-width: 1000px) {
    .app--container {
      .app--form-step-container {
        padding: 0 50px 0 50px;
      }
    }
  }

  @media (max-width: 900px) {
    .app--container {
      .app--form-step-container {
        padding: 0 20px 0 20px;
      }
    }
  }

  @media (max-width: 800px) {
    display: block;
    min-height: auto;

    .app--container {
      padding: 0;
      display: flex;
      flex-direction: column;
      border-radius: 0;

      .app--form-step-container {
        .app--form-step-title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
