$text-color-dark: #022A5E;
$text-color-light-1: #9699ab;
$text-color-light-2: #d6d9e6;

$input-border-color: #D9D8DC;
$input-border-color-focus: #534D95;
$input-background-color: #F8F9FE;
$error: #ed3548;

$c: #02295a;
$c: hsl(243, 100%, 62%);
$c: hsl(228, 100%, 84%);
$c: hsl(206, 94%, 87%);

$c: #9699ab;
$c: #d6d9e6;
$c: #f0f6ff;
$c: #fafbff;
$c: #ffffff;
