$text-color-dark: #072F63;
$text-color-light-1: #9699ab;
$text-color-light-2: #d6d9e6;

$input-border-color: #D9D8DC;
$input-border-color-focus: #534D95;
$input-background-color: #F8F9FE;
$error: #ed3548;
