.modal {
  color: #000;
  position: relative;
  z-index: 50;

  .modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .modal-content {
    padding: 32px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    overflow-y: auto;
    max-height: 95%;
  }
}
