.badge {
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: solid;

  &.clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &.big {
    border-width: 31px;
  }

  &.medium {
    border-width: 21px;
  }

  &.small {
    border-width: 14px;
  }

  &.rock {
    border-color: #dd4b4c;

    &.big {
      box-shadow: inset 0 10px rgba(0, 0, 0, 0.17), 0 10px #ad2f30;
    }
    &.medium {
      box-shadow: inset 0 7px rgba(0, 0, 0, 0.17), 0 7px #ad2f30;
    }
    &.small {
      box-shadow: inset 0 5px rgba(0, 0, 0, 0.17), 0 5px #ad2f30;
    }
  }

  &.paper {
    border-color: #506cf4;

    &.big {
      box-shadow: inset 0 10px rgba(0, 0, 0, 0.17), 0 10px #2945c3;
    }
    &.medium {
      box-shadow: inset 0 7px rgba(0, 0, 0, 0.17), 0 7px #2945c3;
    }
    &.small {
      box-shadow: inset 0 5px rgba(0, 0, 0, 0.17), 0 5px #2945c3;
    }
  }

  &.scissors {
    border-color: #eca517;

    &.big {
      box-shadow: inset 0 10px rgba(0, 0, 0, 0.17), 0 10px #c66c1e;
    }
    &.medium {
      box-shadow: inset 0 7px rgba(0, 0, 0, 0.17), 0 7px #c66c1e;
    }
    &.small {
      box-shadow: inset 0 5px rgba(0, 0, 0, 0.17), 0 5px #c66c1e;
    }
  }

  .badge-icon {
    width: 50%;
  }
}
