.wrapper {
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.wrapper.featured {
  border-left: 5px solid var(--primary-color);
}

.wrapper > *:nth-child(1),
.wrapper > *:nth-child(2) {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.companyWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.company {
  font-size: 1.1rem;
  color: var(--primary-color);
}

.position {
  font-size: 1.4rem;
}

.postedAtWrapper {
  display: flex;
  align-items: center;
  gap: 19px;
  color: var(--text-color-light);
  font-size: 1.1rem;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text-color-light);
}

.line {
  margin: 16px 0;
  display: none;
  width: 100%;
  height: 1px;
  background-color: #bec0bf;
}

.tagsWrapper {
  margin-left: auto;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 30px 16px 22px 16px;
    flex-direction: column;
    align-items: start;
    gap: 0;
    position: relative;
  }

  .logo {
    width: 45px;
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-50%);
  }

  .company,
  .position {
    font-size: 0.95rem;
  }

  .postedAtWrapper {
    gap: 10px;
    font-size: 0.95rem;
  }

  .line {
    display: block;
  }

  .tagsWrapper {
    margin-left: 0;
    align-self: start;
    justify-content: start;
  }
}
