.header {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px 20px;
  border: 3px solid #606e85;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header--logo {
    display: block;
  }

  .header--score {
    width: 150px;
    padding: 18px 0;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;

    .header--score-title {
      color: #2a46c0;
      text-transform: uppercase;
      font-size: 1.1rem;
      letter-spacing: 2px;
    }

    .header--score-value {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      color: #3b4363;
    }
  }

  @media (max-width: 600px) {
    padding: 10px;

    .header--logo {
      width: 80px;
    }

    .header--score {
      width: 78px;
      padding: 12px 0;

      .header--score-title {
        font-size: 0.7rem;
        letter-spacing: 2px;
      }

      .header--score-value {
        font-size: 2.2rem;
        line-height: 1;
      }
    }
  }
}
