.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background: no-repeat 125% -12% url("./images/bg-tablet-pattern.svg");
}

@media (max-width: 1000px) {
  .wrapper {
    background: no-repeat 200% -10% url("./images/bg-tablet-pattern.svg");
  }
}
