* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1105px;
  --primary-color: #2c2640;
  --text-color-dark: #2b282f;
  --text-color-light: #7f7d80;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  padding: 11px 24px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 2px;
  background-color: transparent;
  border: 2px solid var(--text-color-dark);
}

/* HEADER */
.header {
  padding: 0 22px;
}

.header .header-container {
  max-width: var(--container-width);
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.header li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color-light);
  cursor: pointer;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 2px;
}

.header li:last-child a {
  display: block;
  margin-left: 7px;
  color: var(--text-color-dark);
  width: 100%;
}

.header .nav-btn {
  display: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--text-color-dark);
}

.header .nav-btn i {
  font-size: 1.2rem;
}

.header .nav-btn .fa-bars {
  display: block;
}

.header.open .nav-btn .fa-bars {
  display: none;
}

.header .nav-btn .fa-xmark {
  display: none;
}

.header.open .nav-btn .fa-xmark {
  display: block;
}

/* SECTION 1 */
.section1 {
  padding: 100px 22px 20px 22px;
  background: linear-gradient(to bottom, var(--primary-color) 80%, white 80%);
  color: white;
}

.section1 .section-container {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.section1 .section-container > * {
  flex: 0 0 48.5%;
}

.section1 .line {
  width: 150px;
  height: 1px;
  background-color: #fff;
}

.section1 .title {
  margin-top: 70px;
  font-size: 4.3rem;
  line-height: 0.9;
}

.section1 .text {
  margin-top: 32px;
  line-height: 1.6;
}

.section1 .btn {
  margin-top: 32px;
  color: white;
  border-color: white;
}

.section1 img {
  display: block;
  width: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 1050px) {
  .section1 {
    background: var(--primary-color);
  }
}

@media (max-width: 800px) {
  .section1 {
    padding: 0 0 90px 0;
  }

  .section1 .section-container {
    flex-direction: column;
  }

  .section1 .flex-item1 {
    padding: 0 22px;
    order: 2;
    text-align: center;
  }

  .section1 .line {
    display: none;
  }

  .section1 .flex-item2 {
    order: 1;
  }
}

@media (max-width: 700px) {
  .disable-scroll-on-mobile {
    height: 100%;
    overflow: hidden;
  }

  .header ul {
    padding: 50px 22px 0 22px;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background: no-repeat 0% 100% / 100% url("./images/bg-pattern-mobile-nav.svg"), #2b282f;
    flex-direction: column;
    display: none;
  }

  .header.open ul {
    display: flex;
    overflow-y: auto;
  }

  .header li a {
    color: white;
    font-size: 1.2rem;
  }

  .header li:last-child {
    align-self: stretch;
  }

  .header li:last-child a {
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-color: white;
    width: 100%;
    max-width: 320px;
    text-align: center;
  }

  .header .nav-btn {
    display: block;
  }

  .section1 .title {
    font-size: 2.9rem;
  }
}
