.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formControl {
  position: relative;
  flex: 1;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid white;
}

.input.error {
  border-color: red;
}

.errorMessage {
  position: absolute;
  top: 110%;
  left: 15px;
  color: var(--primary-color);
  color: red;
  font-size: 0.6rem;
  font-style: italic;
}
