.App {
  max-width: 1440px;
  margin: 0 auto;

  .country-details-container {
    margin-top: 40px;
    padding: 0 70px;

    .clear-selected-country-btn {
      margin-bottom: 50px;
      padding: 11px 30px;
      background-color: var(--background-color-2);
      color: var(--text-color);
      box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: inherit;
      cursor: pointer;

      .clear-btn-icon {
        font-size: 1.2rem;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }

  .filters-container {
    margin-top: 40px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .cards-container {
    margin-top: 40px;
    padding: 0 70px 70px 70px;
  }

  @media (max-width: 600px) {
    .country-details-container {
      padding: 0 16px;
    }

    .filters-container {
      padding: 0 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    .cards-container {
      padding: 0 55px;
    }
  }
}
