* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color-1: #fafafa;
  --background-color-2: white;
  --text-color: #111517;
}

:root.dark {
  --background-color-1: #202d36;
  --background-color-2: #2b3743;
  --text-color: white;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-1);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
