@use "../../variables.scss";

.header {
  max-width: variables.$container-width;
  margin: 0 auto;
  padding: 47px 22px;
  display: flex;
  align-items: center;
  gap: 45px;

  .nav {
    flex: 1;
  }

  @media (max-width: 750px) {
    padding: 38px 22px;
    justify-content: space-between;

    .nav {
      flex: 0;
    }
  }
}
