* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2f65f9;
  --error-color: #dd456e;
}

body {
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.primary-button {
  height: 40px;
  padding: 0 3rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.primary-button:active {
  opacity: 0.5;
}

input.red-border:focus {
  outline: 1px solid var(--error-color);
}

.error {
  display: none;
}

.error.open {
  display: block;
}

.red-border {
  border-color: var(--error-color) !important;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  padding: 60px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

.main-header .logo {
  width: 145px;
}

.main-header .links {
  display: flex;
  gap: 50px;
  list-style: none;
}

.main-header .links a {
  text-decoration: none;
  color: black;
}

/* SECTION 1 */
.section1 {
  padding: 0 70px;
  display: flex;
  align-items: center;
}

.section1 > * {
  flex: 1;
}

.section1 .info .title {
  font-size: 2.2rem;
  line-height: 1.4;
}

.section1 .info .text {
  margin: 30px 0 25px 0;
  width: 90%;
}

.section1 .info form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section1 .info .input-wrapper {
  position: relative;
}

.section1 .info .input-wrapper .error {
  position: absolute;
  margin-top: 5px;
  font-size: 0.8rem;
  color: var(--error-color);
}

.section1 .info input {
  padding-left: 0.7rem;
  width: 275px;
  height: 40px;
  border: 1px solid black;
  border-radius: 3px;
}

/* SECTION 2 */
.section2 {
  margin-top: 140px;
}

.section2 .flex-container {
  padding: 100px 70px;
  background-color: #F9F8FE;
  display: flex;
}

.section2 .flex-container > * {
  flex: 1;
}

.section2 .info h2 {
  font-size: 2.2rem;
}

.section2 .info > p {
  margin-top: 35px;
  max-width: 455px;
  font-size: 0.9rem;
}

.section2 .info > p:nth-of-type(2) {
  margin-top: 25px;
}

.section2 .info a {
  margin-top: 24px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  font-size: 0.9rem;
}

.section2 .info a img {
  width: 15px;
}

.section2 .info .card {
  margin-top: 40px;
  max-width: 310px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.section2 .info .card .icon {
  width: 16px;
}

.section2 .info .card > p {
  margin-top: 10px;
  font-size: 0.8rem;
}

.section2 .info .card .ceo-info {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.section2 .info .card .ceo-info img {
  border-radius: 50%;
  width: 30px;
}

.section2 .info .card .ceo-info .text h4 {
  font-size: 0.8rem;
}

.section2 .info .card .ceo-info .text p {
  font-size: 0.7rem;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  .main-header {
    padding: 30px 24px;
  }

  .main-header .logo {
    width: 80px;
  }

  .main-header .links {
    gap: 10px;
  }

  .section1 {
    padding: 0 24px;
  }

  .section1 .info form {
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }

  .section2 .flex-container {
    padding: 100px 24px;
  }
}

@media (max-width: 1100px) {
  .section1 {
    flex-direction: column;
    gap: 50px;
  }

  .section1 .info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }

  .section1 .image {
    order: 1;
  }

  .section2 .flex-container {
    flex-direction: column;
    gap: 100px;
  }

  .section2 .flex-container .info {
    order: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 .flex-container .info .card {
    text-align: left;
  }

  .section2 .flex-container .image {
    order: 1;
  }
}
