* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #26baa4;
  --secondary-color: #6173ff;
  --text-color: #4c545d;
  --text-color-light: #9fabb2;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
}

.light {
  color: var(--text-color-light);
}

.btn {
  padding: 16px 35px;
  max-width: 350px;
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  transform: scale(0.98);
}

.ios-btn {
  background-color: var(--primary-color);
  box-shadow: 0 5px 10px rgba(38, 186, 164, 0.3);
}

.mac-btn {
  background-color: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(97, 115, 255, 0.3);
}

p {
  color: var(--text-color-light);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  padding: 130px 0 50px 0;
  background: url("./images/bg-header-desktop.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 1 */
.section1 {
  max-width: 685px;
  margin: 0 auto;
}

.section1 .title {
  font-size: 2.7rem;
}

.section1 p {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.section1 .buttons-container {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.section1 h2 {
  margin-top: 150px;
  font-size: 2rem;
}

.section1 h2 + p {
  font-size: 1.1rem;
}

/* SECTION 2 */
.section2 {
  margin-top: 85px;
  display: flex;
  align-items: center;
}

.section2 > * {
  flex: 0 0 50%;
}

.section2 .image {
  overflow: hidden;
  padding-bottom: 20px;
}

.section2 .image img {
  width: 100%;
  transform: scale(1.04);
  transform-origin: top right;
}

.section2 .text {
  padding-left: 5.5vw;
  text-align: left;
}

.section2 .text h3 {
  margin-top: 60px;
}

.section2 .text p {
  max-width: 335px;
  margin-top: 20px;
  font-size: 1rem;
}

/* SECTION 3 */
.section3 {
  margin-top: 160px;
}

.section3 h2 {
  font-size: 2rem;
}

.section3 h2:nth-of-type(2) {
  margin-top: 100px;
}

.section3 p {
  margin: 2rem auto 0 auto;
  max-width: 670px;
  font-size: 1.1rem;
}

.section3 img {
  margin-top: 115px;
  width: 100%;
  max-width: 810px;
}

/* SECTION 4 */
.section4 {
  margin-top: 80px;
  padding: 0 2rem;
}

.section4 .cards-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 35px;
}

.section4 .cards-container > * {
  flex: 1;
}

.section4 .cards-container .icon-wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 .cards-container h3 {
  margin-top: 50px;
  font-size: 1.5rem;
}

.section4 .cards-container p {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 1.8;
}

.section4 .logos-container {
  max-width: 1100px;
  margin: 165px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SECTION 5 */
.section5 {
  margin-top: 170px;
}

.section5 h2 {
  font-size: 2rem;
}

.section5 p {
  margin: 30px auto 0 auto;
  max-width: 680px;
}

.section5 .buttons-container {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* FOOTER */
.footer {
  margin-top: 150px;
  padding: 40px 165px 45px 165px;
  background-color: #f5f6f8;
  display: flex;
}

.footer .logo {
  width: 55px;
  height: 55px;
}

.footer .links {
  margin-left: 135px;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.footer .links li {
  margin-bottom: 26px;
  width: 190px;
  text-align: left;
}

.footer .icons {
  align-self: flex-start;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer .icons a:hover img {
  filter: invert(51%) sepia(80%) saturate(400%) hue-rotate(121deg) brightness(103%) contrast(87%);
}

/* MEDIA QUERIES */
@media (max-width: 700px) {
  .section1,
  .section3,
  .section4,
  .section5 {
    padding: 0 1rem;
  }

  .section1 .title {
    font-size: 2rem;
  }

  .section1 .title + p {
    font-size: 1rem;
  }

  .section1 .buttons-container,
  .section5 .buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .section1 .btn,
  .section5 .btn {
    width: 100%;
  }

  .section1 h2,
  .section5 h2 {
    font-size: 1.8rem;
  }

  .section2 {
    padding: 0 1rem;
    flex-direction: column;
  }

  .section2 .image img {
    transform: scale(1);
  }

  .section2 .text {
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .section4 .cards-container {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .section4 .cards-container .card {
    max-width: 400px;
  }

  .section4 .logos-container {
    margin-top: 135px;
    flex-direction: column;
    gap: 65px;
  }

  .footer {
    padding: 40px 0 45px 0;
    flex-direction: column;
    align-items: center;
  }

  .footer .links {
    margin: 50px 0 0 0;
    flex-direction: column;
  }

  .footer .links li {
    text-align: center;
  }

  .footer .icons {
    align-self: center;
    margin: 30px 0 0 0;
  }
}
