@use './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: variables.$text-color-dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: variables.$text-color-light;
}

img {
  width: 100%;
  display: block;
}

.btn {
  padding: 12px 36px;
  background-color: variables.$primary-color;
  border-radius: 40px;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.3rem;

  &:hover {
    opacity: 0.6;
  }
}
