@use "../../variables.scss";

.tab {
  padding: 30px 40px;
  border-bottom: 1px solid #e0e0ea;
  font-size: 1rem;
  cursor: pointer;
  position: relative;

  &:hover {
    color: variables.$secondary-color;
  }

  &.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: variables.$secondary-color;
  }

  @media(max-width: 700px) {
    &.active::before {
      width: 140px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
