.theme-btn {
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
}