.wrapper {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 30px;
  font-size: 2rem;
}

.text {
  margin-top: 16px;
  max-width: 435px;
  color: #9699ab;
  text-align: center;
  line-height: 1.6;
}

@media (max-width: 800px) {
  .wrapper {
    width: auto;
  }

  .logo {
    margin-top: 70px;
  }
}
