.form-step-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .form-step-1--inputs-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form-step-1--buttons-container {
    button {
      display: block;
      margin-left: auto;
    }
  }

  @media(max-width: 800px) {
    .form-step-1--inputs-container{
      width: auto;
    }

    .form-step-1--buttons-container {
      margin-top: 40px;
    }
  }
}
