.wrapper {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  background-color: #F8F9FE;
  border-radius: 8px;
}

.input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.text {
  font-weight: 500;
  color: #9699ab;
}

.text.highlight {
  color: #022A5E;
}

.label {
  width: 36px;
  height: 18px;
  background-color: #022A5E;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.label::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-out;
}

.input:checked ~ .label::before {
  transform: translateX(18px);
}
