* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fd53c0;
  --secondary-text-color: #8d9397;
}

body {
  font-family: "Open sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.primary-btn {
  padding: 1.7rem 5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.primary-btn:active {
  opacity: 0.5;
}

.main-header {
  padding: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-header .left .icon {
  width: 40px;
}

.main-header .left .logo-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.main-header button {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.main-header button:active {
  opacity: 0.5;
}

/* SECTION 1 */
.section1 {
  padding: 100px 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.section1 h1 {
  font-size: 2.5rem;
}

.section1 p {
  max-width: 520px;
}

/* SECTION 2 */
.section2 {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .image {
  max-width: 900px;
  width: 100%;
}

.section2 .info {
  margin-top: 115px;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.section2 .info .info-item .icon {
  width: 40px;
}

.section2 .info .info-item .number {
  font-size: 5rem;
  font-weight: bold;
}

.section2 .info .info-item .text {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

/* SECTION 3 */
.section3 img {
  width: 100%;
  display: block;
}

.section3 .flex-container {
  display: flex;
  align-items: center;
  background-color: #F6FBFF;
}

.section3 .flex-container .text {
  padding: 0 4vw;
}

.section3 .flex-container .text h2 {
  font-size: 2rem;
}

.section3 .flex-container .text p {
  font-size: 0.9rem;
  margin-top: 2rem;
}

.section3 .flex-container > * {
  flex: 0 0 50%;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .primary-btn {
    padding: 1rem 3rem;
    font-size: 1rem;
  }

  .main-header {
    padding: 1.5rem;
  }

  .main-header .left .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .main-header button {
    padding: 0.3rem 0.9rem;
  }

  .section1 {
    padding: 100px 1rem;
  }

  .section2 {
    padding: 0 1rem;
  }
}

@media (max-width: 650px) {
  .section2 .info {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .section2 .info .info-item {
    transform: scale(1.2);
  }

  .section3 .flex-container {
    flex-direction: column;
    gap: 5rem;
  }

  .section3 .flex-container .text {
    order: 2;
    text-align: center;
  }

  .section3 .flex-container .image {
    order: 1;
  }
}
