* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fd53c0;
  --secondary-text-color: #8d9397;
}

body {
  font-family: "Open sans", sans-serif;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.primary-btn {
  padding: 1.7rem 5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.primary-btn:active {
  opacity: 0.5;
}

.main-header {
  padding: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-header .left .icon {
  width: 40px;
  filter: invert(54%) sepia(33%) saturate(3875%) hue-rotate(291deg) brightness(97%) contrast(106%);
}

.main-header .left .logo-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.main-header button {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.main-header button:active {
  opacity: 0.5;
}

/* SECTION 1 and SECTION 6 */
.section1,
.section6 {
  padding: 100px 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.section1 h2,
.section6 h2 {
  font-size: 2.5rem;
}

.section1 p,
.section6 p {
  max-width: 520px;
}

/* SECTION 2 */
.section2 {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .image {
  max-width: 900px;
  width: 100%;
}

.section2 .info {
  margin-top: 115px;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.section2 .info .info-item .icon {
  width: 40px;
  filter: invert(54%) sepia(33%) saturate(3875%) hue-rotate(291deg) brightness(97%) contrast(106%);
}

.section2 .info .info-item .number {
  font-size: 5rem;
  font-weight: bold;
}

.section2 .info .info-item .text {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

/* SECTION 3 and SECTION 5 */
.section3 .flex-container,
.section5 .flex-container {
  display: flex;
  align-items: center;
  background-color: #f6fbff;
}

.section3 .flex-container .text,
.section5 .flex-container .text {
  padding: 0 4vw;
}

.section3 .flex-container .text h2,
.section5 .flex-container .text h2 {
  font-size: 2rem;
}

.section3 .flex-container .text p,
.section5 .flex-container .text p {
  font-size: 0.9rem;
  margin-top: 2rem;
}

.section3 .flex-container > *,
.section5 .flex-container > * {
  flex: 0 0 50%;
}

/* SECTION 4 */
.section4 {
  display: flex;
  align-items: center;
}

.section4 > * {
  flex: 0 0 50%;
}

.section4 .text {
  padding: 0 4vw;
}

.section4 .text h2 {
  font-size: 2rem;
}

.section4 .text p {
  font-size: 0.9rem;
  margin-top: 2rem;
}

/* FOOTER */
.footer {
  color: #fff;
}

.footer .flex-container {
  background-color: #00252e;
  padding: 90px 5vw;
  display: flex;
}

.footer .flex-container > * {
  flex: 0 1 50%;
}

.footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.8rem;
}

.footer .contacts .text {
  max-width: 260px;
}

.footer .contacts .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer .contacts .logo .icon {
  width: 40px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(97deg) brightness(102%) contrast(101%);
}

.footer .contacts .logo .logo-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.footer .contacts .phone,
.footer .contacts .email {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .contacts .phone img,
.footer .contacts .email img {
  width: 1rem;
  height: 1rem;
}

.footer .contacts .icons {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.footer .newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer .newsletter .title {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.footer .newsletter .text {
  font-size: 0.8rem;
  max-width: 300px;
}

.footer .newsletter form {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer .newsletter input {
  padding: 0.8rem;
  width: 280px;
  border-radius: 5px;
  border: none;
}

.footer .newsletter button {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .primary-btn {
    padding: 1rem 3rem;
    font-size: 1rem;
  }

  .main-header {
    padding: 1.5rem;
  }

  .main-header .left .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .main-header button {
    padding: 0.3rem 0.9rem;
  }

  .section1,
  .section6 {
    padding: 100px 1rem;
  }

  .section2 {
    padding: 0 1rem;
  }
}

@media (max-width: 650px) {
  .section2 .info {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .section2 .info .info-item {
    transform: scale(1.2);
  }

  .section3 .flex-container,
  .section5 .flex-container {
    flex-direction: column;
    gap: 5rem;
  }

  .section3 .flex-container .text,
  .section5 .flex-container .text {
    order: 2;
    text-align: center;
  }

  .section3 .flex-container .image,
  .section5 .flex-container .image {
    order: 1;
  }

  .section4 {
    flex-direction: column;
    gap: 5rem;
  }

  .section4 .text {
    text-align: center;
  }

  .footer .flex-container {
    flex-direction: column;
    gap: 3rem;
    padding: 50px 5vw;
  }

  .footer .flex-container .contacts {
    order: 2;
  }

  .footer .flex-container .newsletter {
    order: 1;
  }
}
